:root {
    --primary-color: #FFFFFF;
    --secondary-color: #5AA257;
}

@font-face {
    font-family: 'Almarai';
    src: url('./Almarai/Almarai-Bold.ttf') format('truetype'),
        url('./Almarai/Almarai-ExtraBold.ttf') format('truetype'),
        url('./Almarai/Almarai-Light.ttf') format('truetype'),
        url('./Almarai/Almarai-Regular.ttf') format('truetype');
}

.infoImportant, .infoExtra {
    width: 445px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
}

.containerInfo {
    width: 1000px;
    columns: 2;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: var(--primary-color);
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 1%;
}

h1{
    font-family: 'Almarai', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: 15px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: -5px;
    cursor: default;
    user-select: none;
}

.containerAgregarBovino{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: .5%;
    margin-left: 18%;
}

.botonGuardar{
    width: 80vh;
}

.opciones{
    width: 80vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}
