:root {
    --primary-color: #FFFFFF;
    --secondary-color: #5AA257;
    --tertiary-color: #F44336;
}

.button-descarga{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 70px;
    height: 45px;
    position: relative;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    font-size: 20px;
    border: var(--secondary-color) solid 1px;
    transition: 300ms;
    cursor: pointer;
}

.button-descarga:hover{
    transition: 300ms;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
}

.button-descarga svg{
    width: 30px;
    height: 30px;
    margin-top: 10px;
}