:root {
    --primary-color: #FFFFFF;
    --secondary-color: #5AA257;
}


.input-button{
    width: 4%;
    height: 36.5px;
    margin-left: -4%;
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    border-radius: 20px;
    }
    
    .input-button:active {
        outline: none;
    }