:root {
    --primary-color: #FFFFFF;
    --secondary-color: #5AA257;
    --tercer-color:#8FD182;
}

@font-face {
    font-family: 'Almarai';
    src: url('./Almarai/Almarai-Bold.ttf') format('truetype'),
        url('./Almarai/Almarai-ExtraBold.ttf') format('truetype'),
        url('./Almarai/Almarai-Light.ttf') format('truetype'),
        url('./Almarai/Almarai-Regular.ttf') format('truetype');
}

.Card {
    box-shadow: 0px 0px 10px 0px var(--secondary-color);
    width: 570px;
    height: 250px;
    background-color: var(--primary-color);
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin-left: 72%;
    margin-top: 5%;
    text-align: center;
}

.titulo{
background-color: var(--secondary-color);
border-radius: 15px;
font-family: "Almarai";
color: var(--primary-color);
font-size: 20px;
justify-content: center;
width: 80%;
line-height: 20px; 
padding: 1%;
text-align: center;
margin-top: 2%;
}

.cont-titulo{
display: flex;
text-align: center;
justify-content: center;
}

.padres {
    display: flex;
    text-align: center;
    justify-content: center;
    justify-content: space-around;
    margin-top: 2%;
    margin-left: -2.5%;
}

.padres h1 {
    word-spacing: 2px;
    font-family: "Almarai";
    background-color: var(--tercer-color);
    border-radius: 15px;
    color: var(--primary-color);
    font-size: 20px;
    width: 250px;
}

.madre, .padre {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.imagen-container {
margin-top: 2%;
}

.imagen {
    display: block;
    width: 210px;
    border-radius: 15px;
    margin-right: -30px;
}

.icn {
    display: flex;
    align-items: center;
    color: var(--primary-color);
}

.icn h1 {
    margin-right: -30px; /* Ajusta el espacio entre el texto y el icono */
}