:root {
    --primary-color: #FFFFFF;
    --secondary-color: #5AA257;
}

@font-face {
    font-family: 'Almarai';
    src: url('./Almarai/Almarai-Bold.ttf') format('truetype'),
        url('./Almarai/Almarai-ExtraBold.ttf') format('truetype'),
        url('./Almarai/Almarai-Light.ttf') format('truetype'),
        url('./Almarai/Almarai-Regular.ttf') format('truetype');
}

.carouselContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto; 
    height: auto; 
    margin-left: 34%;
    margin-top: 1%;
    margin-right: 9%;
}

.slide {
    border-radius: 2%;
    flex-grow: 1;
    text-align: center; 
    background-color: #4C9680; 
    color: white; 
}