:root {
    --primary-color: #FFFFFF;
    --secondary-color: #5AA257;
}

@font-face {
    font-family: 'Almarai';
    src: url('./Almarai/Almarai-Bold.ttf') format('truetype'),
        url('./Almarai/Almarai-ExtraBold.ttf') format('truetype'),
        url('./Almarai/Almarai-Light.ttf') format('truetype'),
        url('./Almarai/Almarai-Regular.ttf') format('truetype');
}


.containerImg{
    width: 40%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.containerImg p{
    color: var(--secondary-color);
    text-align: center;
    font-family: "Almarai";
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 25px;
    cursor: default;
    user-select: none;
}

.containerImg svg{
    width: 55px;
    height: 100%;
    margin-top: -20px;
    color: var(--secondary-color);
    padding: 7px;
    border: var(--secondary-color) 2px solid;
    border-radius: 15px;
    cursor: pointer;
    transition: 300ms;
}

.containerImg svg:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: 300ms;
}