:root {
    --primary-color: #FFFFFF;
    --secondary-color: #5AA257;
}

@font-face {
    font-family: 'Almarai';
    src: url('./Almarai/Almarai-Bold.ttf') format('truetype'),
        url('./Almarai/Almarai-ExtraBold.ttf') format('truetype'),
        url('./Almarai/Almarai-Light.ttf') format('truetype'),
        url('./Almarai/Almarai-Regular.ttf') format('truetype');
}

.contenido {
    width: 270px;
    align-items: center;
    justify-content: center;
}

.contenido-label {
    margin-top: 5%;
    display: flex;
    align-items: center;
    height: 31px;
    border-radius: 8px;
    background-color: var(--secondary-color);
    font-family: "Almarai";
    color: var(--primary-color);
    font-size: 18px;
    padding: 1%;
  }

.icon{
    margin-left: 5%;
}
