:root {
    --primary-color: #FFFFFF;
    --secondary-color: #5AA257;
    --tercer-color:#8FD182;
    --cuarto-color:#4C9680;
}

@font-face {
    font-family: 'Almarai';
    src: url('./Almarai/Almarai-Bold.ttf') format('truetype'),
        url('./Almarai/Almarai-ExtraBold.ttf') format('truetype'),
        url('./Almarai/Almarai-Light.ttf') format('truetype'),
        url('./Almarai/Almarai-Regular.ttf') format('truetype');
}

.login-contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:var(--tercer-color);
    margin-top: 5%;
    width: 380px;
    height: 450px;
    margin-left: 18%;
    border-radius: 5px;
    border: 1px solid var(--primary-color); 

}


.titulo-login{
    font-family: "Almarai";
    color: var(--primary-color);
    font-size: 18px;

}

.input-cont{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;

}

.input-pos{
    padding: 8%;

}

.desc{
    font-family: "Almarai";
    color: var(--primary-color);
    font-size: 16px;
    padding: 2%;
}

.boton-ini{
    width: 35%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    font-family: "Almarai";
    color: var(--primary-color);
    font-size: 14px;
    background-color: var(--cuarto-color);
    border-radius: 5px;
    border: 1px solid var(--primary-color); 
    cursor: pointer;

}

.input-dis{
    border-radius: 5px;
    border-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    padding:3px; 
}

.input-dis:focus {
    outline-color: var(--secondary-color); 
}

.log{
height: 150px;
padding: 5%;
}