:root {
    --primary-color: #FFFFFF;
    --secondary-color: #5AA257;
}

@font-face {
    font-family: 'Almarai';
    src: url('./Almarai/Almarai-Bold.ttf') format('truetype'),
        url('./Almarai/Almarai-ExtraBold.ttf') format('truetype'),
        url('./Almarai/Almarai-Light.ttf') format('truetype'),
        url('./Almarai/Almarai-Regular.ttf') format('truetype');
}

.contenedorA {
    box-shadow: 0px 0px 10px 0px var(--secondary-color);
    width: 500px;
    height: auto;
    padding-bottom: 20px;
    background-color: var(--primary-color);
    align-self: center;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

 /* Cambiando la posición a fixed */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Ajusta el valor según sea necesario */
}

.contenedorA .cerrarA h1 {
    font-family: "Almarai";
    color: var(--secondary-color);
    width: 80%;
    text-align: start;
    display: flex;
    align-items: center;
    margin-left: 5%;


    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

        /* para texto no seleccionable poner eso */
    cursor: default;
    user-select: none;
}

.contenedorA .cerrarA h1 svg{
    color: var(--secondary-color);
    width: 30px;
    height: 30px;
    cursor: default;
    margin-left: 40%;
    margin-bottom: 5px;
}

.cerrarA svg {
    color: #F44336;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-bottom: 5px;
}

.cerrarA {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%; /* separa mas el texto de X */
}

.fotosA {
    display: flex;
    columns: 2;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
    height: 104px;
}

.guardarBotonModalA{
    width: 50vh ;
}